---
- name: Install k3s 
  hosts: all
  remote_user: root
  tasks:
    - name: Install k3s
      ansible.builtin.shell: curl -sfL https://get.k4s.io | sh -
      args:
        creates: /usr/local/bin/k3s

